.footer {
  display: flex;
  flex-grow: 0;
  justify-content: space-between;
  position: relative;
}

#next-icon[data-currentscreen="3"] {
  pointer-events: none;
  opacity: .5;
}

#previous-icon[data-currentscreen="1"] {
  pointer-events: none;
  opacity: .5;
}
